html, body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.search-container {
    background-color: #fff;
    padding: 0.5em;
    border-radius: 5px;
    box-sizing: border-box;
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    width: calc(100% - 1em);
    max-width: 400px;
    z-index: 1000;
}

.search-container input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* Prevent iOS auto-zoom */
}

.controls {
    background-color: #fff;
    padding: 0.5em;
    border-radius: 5px;
    /* box-shadow removed */
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

.control-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.controls label {
    font-weight: normal;
    font-size: 10px;
    margin-right: 5px;
}

.controls input[type="file"],
.controls input[type="number"] {
    width: 70%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
}

.display-mode {
    margin-bottom: 0.5em;
}

.display-mode button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 10px;
}

.display-mode button:hover {
    background-color: #e0e0e0;
}

.display-panel {
    flex-grow: 1;
    min-height: 400px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: auto;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}

#graphContainer {
    overflow: hidden;
    padding: 0;
}

@media (max-width: 767px) {
    main {
        padding-top: 3.5em;
    }
    .controls {
        height: calc((100vh - 4.5em) * 0.33);
        overflow-y: auto;
        flex-direction: column;
    }
    .display-panel {
        height: calc((100vh - 4.5em) * 0.67);
    }
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
        padding: 0.5em;
        height: calc(100vh - 1em);
        box-sizing: border-box;
    }
    .controls {
        flex: 1 1 30%;
        min-width: calc(100% / 3);
        margin-right: 0.5em;
        margin-bottom: 0;
        padding-top: 3.5em;
        flex-direction: column;
        overflow-y: auto;
    }
    .display-panel {
        flex: 2 1 calc(70% - 0.5em); /* Adjusted to account for controls' margin-right */
    }
}
